<h2>All the Flowers</h2>
<ul>
  <%@flowers.each do |flower|%>
    <li>
      <%=link_to flower.name, flower_path(flower) %>
    </li>
  <%end %>
  <br>
  <br>
<div class="">

  <%= link_to "Make new Flower", new_flower_path %>
</div>
<%= link_to 'Link to all Bees', bees_path %>


</ul>
